<div class="page">
    <div class="home">
        <div class="home-content">
            <div class="container">
                <h1 class="home-heading">Make a difference together</h1>
            </div>
        </div>
    </div>

    <div class="openings">
        <ul class="nav_list">
            <form class="d-flex" role="search">
                <input class="form-control" type="search" placeholder="Search position" aria-label="Search">

            </form>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Location type</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">All</a></li>
                    <li><a class="dropdown-item" href="#">On-site</a></li>

                    <li><a class="dropdown-item" href="#">Remote</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Work type</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Part-time</a></li>
                    <li><a class="dropdown-item" href="#">Fulltime</a></li>
                </ul>
            </li>
            <button class="btn-outline-success" type="submit">Search</button>


        </ul>
    </div>


    <table>
        <tr>
            <td>
                <h5>Title</h5>
            </td>
            <td >
                <h5>Date</h5>
            </td>
            <td >
                <h5>Location</h5>
            </td>
            <td >
                <h5>Description</h5>
            </td>
            <td> </td>
        </tr>
    
        <tr *ngFor="let job of jobsData">
            <td>{{ job.title }}</td>
            <td>{{ job.date }}</td>
            <td>{{ job.location }}</td>
            <td>{{ job.description }}</td>
            <td colspan="2">
                <button class="apply" type="submit" routerLink="/login">Apply</button>
            </td>
        </tr>
    </table>
</div>
